.App {
  text-align: center;
}

.nav {
  padding: 1rem 0;
  border-bottom: 1px solid black;
}

.navbar-title {
  color: white;
  text-decoration: none;
}

.navbar-title:hover {
  color: blanchedalmond;
}

.navbar-link {
  color: whitesmoke;
  text-decoration: none;
}

.navbar-link:hover {
  color: orange;
}

.navbar-h3 {
  color: whitesmoke;
  text-decoration: none;
}

.navbar-h3:hover {
  color: rgb(108, 189, 85);
}

.navbar-item {
  color: whitesmoke;
  text-decoration: none;
}

.navbar-item:hover {
  color: rgb(120, 123, 227);
}

.navbar-itemBtn {
  background-color: whitesmoke;
  color: black;
  text-decoration: none;
}

.navbar-itemBtn:hover {
  background-color: black;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}